test_srv:
  image: emarcs/nginx-cgit
  ports:
    - 8181:80
  volumes:
    - /srv/git:/srv/git
    # for a custom nginx configuration
    - ./default.conf:/etc/nginx/sites-available/default
    - ./cgitrc:/etc/cgitrc
  environment:
    CGIT_TITLE: 'My awesome git repos'
    CGIT_DESC: 'Presented by Cgit on Docker'
    # check section-from-path in cgit docs
    CGIT_VROOT: '/'
    CGIT_SECTION_FROM_STARTPATH: 1
    CGIT_MAX_REPO_COUNT: 50
